NEXT_PUBLIC_PRIVY_APP_ID=

NEXT_PUBLIC_HASHKEY_CHAIN_ID=133
NEXT_PUBLIC_HASHKEY_RPC_URL=https://testnet.hsk.xyz
NEXT_PUBLIC_HASHKEY_EXPLORER_URL=https://hashkeychain-testnet-explorer.alt.technology

NEXT_PUBLIC_MOCK_USDT_ADDRESS=
NEXT_PUBLIC_YUIDEN_SETTLEMENT_ADDRESS=

OPENAI_API_KEY=

HSP_APP_KEY=
HSP_APP_SECRET=
HSP_MERCHANT_PRIVATE_KEY=
HSP_API_BASE_URL=
